
.containerPicture{
    --heightDeafault: 150px;
    height: var(--heightDeafault);
    width: 100%;
}

.imgFormater{
    width: 100% !important;
    height: var(--heightDeafault) !important;
}

/*.stickyTitleContainer{
    position: sticky;
    top: 0px;
    z-index: 10000;
}*/

.nombreEmpresaPerfil{
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 20px;
}

.nombreEmpresaPerfil > p{
    font-size: 1.5em;
}


/**/

#nav-container-top {height: 1px;}

#nav-container {
    height: 30px;
    background-color: rgb(255, 1, 1);
	position: sticky;
    top: 0;
    z-index: 1000;

    transition: all .3s ease-in-out;
}

.nav-container-sticky {
    background-color: #01476B !important;
    height: 50px !important;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}